@{
    ViewBag.Title = "programs";
}

@Html.Partial("Header")

<div class="wrap">

    <div id="center">
        <section><h1>Adobe Photoshop CS6</section></h1> <!-- Заголовок раздела -->
        <aside class="old-as">
            <div class="banner">
                <a href="#"><img src="@Url.Content("~/Content/img/banner-side.png")" />></a>
            </div>
            <div class="banner">
                <a href="#"><img src="@Url.Content("~/Content/img/soft-banner.png")" />></a>
            </div>

            <div class="banner vk-widget">
                <img src="@Url.Content("~/Content/img/vk-widget.png")" />
            ></div>
        </aside>
        <article class="soft inner content old">
            <!-- Страница NEWS, вложенная, текстовая -->
            <div class="left width30">
                <a href="#"><img src="@Url.Content("~/Content/img/psbig.png")" />></a>
                <a href="#"><img src="@Url.Content("~/Content/img/preview.png")" />></a>
                <a href="#"><img src="@Url.Content("~/Content/img/preview.png")" />></a>
                <a href="#"><img src="@Url.Content("~/Content/img/preview.png")" />></a>
                <a href="#"><img src="@Url.Content("~/Content/img/preview.png")" />></a>
            </div>
            <div class="right width65">
                <p class="intro width94">Adobe Photoshop (Фотошоп) — графический редактор, разработанный и распространяемый фирмой Adobe Systems. Этот продукт является лидером рынка в области коммерческих средств редактирования растровых изображений.</p>
                <h2>Цена:<span>от $6,67</span></h2>
                <table>
                    <tbody>
                        <tr>
                            <td class="width40">Разработчик:</td>
                            <td class="width60">Adobe Systems</td>
                        </tr>
                        <tr>
                            <td>обновлено:</td>
                            <td>2013.06.19</td>
                        </tr>
                        <tr>
                            <td>Операционная система:</td>
                            <td>Windows, Mac OS X</td>
                        </tr>
                        <tr>
                            <td>Лицензия:</td>
                            <td>Shareware</td>
                        </tr>
                        <tr>
                            <td>Русский язык:</td>
                            <td>Есть</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#" class="forumico left width40">Обсудить на форуме</a>
                <a href="#" class="targetico left width60">Перейти на сайт разработчика</a>
                <div class="clear"></div>
                <hr>
                <div class="social left">
                    <a href="#" class="vk">vk</a>
                    <a href="#" class="tw">tw</a>
                    <a href="#" class="fb">fb</a>
                    <a href="#" class="gp">gp</a>
                    <a href="#" class="ok">ok</a>
                </div>
                <div class="rate left">
                    <span class="plus">25</span>
                    <span class="minus">14</span>
                </div>
                <a href="#" class="button red left">Рекомендовать</a>
            </div>
            <div class="clear"></div>
            <h2 class="opisanieico">Описание</h2>
            <p>Adobe Photoshop (Фотошоп) — графический редактор, разработанный и распространяемый фирмой Adobe Systems. Этот продукт является лидером рынка в области коммерческих средств редактирования растровых изображений, и наиболее известным продуктом фирмы Adobe. </p>
            <p>
                Программное обеспечение Adobe Photoshop меняет стандарты обработки цифровых изображений, предлагая мощные инструменты для работы с фотографиями и обеспечивая передовые возможности комплексного выбора изображений, реалистического рисования и интеллектуального ретуширования. Фотошоп применяют для создания фотореалистических изображений, работы с цветными сканированными изображениями, ретуширования, цветокоррекции, коллажирования, трансформации графики, цветоделения и т.д. Программное обеспечение Adobe Photoshop меняет стандарты обработки цифровых изображений, предлагая мощные инструменты для работы с фотографиями и обеспечивая передовые возможности комплексного выбора изображений.
                реалистического рисования и интеллектуального ретуширования.
            </p>
            <p>Adobe Photoshop меняет стандарты обработки цифровых изображений, предлагая мощные инструменты для работы с фотографиями и обеспечивая передовые возможности комплексного выбора изображений, реалистического рисования и интеллектуального ретуширования. Фотошоп применяют для создания фотореалистических изображений, работы с цветными сканированными изображениями, ретуширования, цветокоррекции, коллажирования, трансформации графики.</p>
            <img src="@Url.Content("~/Content/img/devsayt.png")" class="left width48" />
            ><img src="@Url.Content("~/Content/img/getdiscount.png")" class="right width48" />


        ></article>
        <div class="clear"></div>
    </div>


</div>




@Html.Partial("Footer")
