@{
    ViewBag.Title = "programs";
}

@Html.Partial("Header")

<div class="wrap">

    <div id="center">
        <!--<aside>
            <div>Фильтр</div>
            <div class="partner-side">
                <h2>Топ партнеров</h2>
                <div class="item">
                    <img src="img/news1.png" />
                    <p><a href="#">AffilateCube</a></p>
                </div>
                <div class="item">
                    <img src="img/news1.png" />
                    <p><a href="#">AffilateCube</a></p>
                </div>
                <div class="item">
                    <img src="img/news1.png" />
                    <p><a href="#">AffilateCube</a></p>
                </div>
                <div class="item">
                    <img src="img/news1.png" />
                    <p><a href="#">AffilateCube</a></p>
                </div>
                <div class="item">
                    <img src="img/news1.png" />
                    <p><a href="#">AffilateCube</a></p>
                </div>
            </div>
            <div class="forum-side">
                <h2>Последнее с форума</h2>
                <div class="item">
                    <h4><a href="#">Как можно увеличить свой доход?</a></h4>
                    <blockquote>Ну во первых, нужно разобраться, насколько много тебе</blockquote>
                    <span class="info right">от <a href="#">Triger</a>, 12:30</span>
                </div>
                <div class="item">
                    <h4><a href="#">Как можно увеличить свой доход?</a></h4>
                    <blockquote>Ну во первых, нужно разобраться, насколько много тебе</blockquote>
                    <span class="info right">от <a href="#">Triger</a>, 12:30</span>
                </div>
                <div class="item">
                    <h4><a href="#">Как можно увеличить свой доход?</a></h4>
                    <blockquote>Ну во первых, нужно разобраться, насколько много тебе</blockquote>
                    <span class="info right">от <a href="#">Triger</a>, 12:30</span>
                </div>
                <a class="button red" href="#">Перейти на форум</a>
            </div>
        </aside>-->
        <article class="soft">
            <!-- Страница партнерки -->
            <div class="soft-main">
                <h2 class="h-free">Бесплатный софт</h2>
                <div>
                    <div class="item">
                        <img src="@Url.Content("~/Content/img/ps.png")" />
                        ><div class="price">FREE</div>
                        <h4>Adobe Photoshop CS6</h4>
                        <p>Графический редактор, разрабо танный и распространяемый фирмой Adobe Systems. Этот продукт является лидером...</p>
                        <a class="button red" href="#">Подробнее</a>
                    </div>
                    <div class="item">
                        <img src="@Url.Content("~/Content/img/ai.png")" />
                        ><div class="price">FREE</div>
                        <h4>Adobe Photoshop CS6</h4>
                        <p>Графический редактор, разрабо танный и распространяемый фирмой Adobe Systems. Этот продукт является лидером...</p>
                        <a class="button red" href="#">Подробнее</a>
                    </div>
                    <div class="item">
                        <img src="@Url.Content("~/Content/img/fl.png")" />
                        ><div class="price">FREE</div>
                        <h4>Adobe Photoshop CS6</h4>
                        <p>Графический редактор, разрабо танный и распространяемый фирмой Adobe Systems. Этот продукт является лидером...</p>
                        <a class="button red" href="#">Подробнее</a>
                    </div>
                    <div class="item">
                        <img src="@Url.Content("~/Content/img/lr.png")" />
                        ><div class="price">FREE</div>
                        <h4>Adobe Photoshop CS6</h4>
                        <p>Графический редактор, разрабо танный и распространяемый фирмой Adobe Systems. Этот продукт является лидером...</p>
                        <a class="button red" href="#">Подробнее</a>
                    </div>
                    <div class="item">
                        <img src="@Url.Content("~/Content/img/ps.png")" />
                        ><div class="price">FREE</div>
                        <h4>Adobe Photoshop CS6</h4>
                        <p>Графический редактор, разрабо танный и распространяемый фирмой Adobe Systems. Этот продукт является лидером...</p>
                        <a class="button red" href="#">Подробнее</a>
                    </div>
                    <div class="item">
                        <img src="@Url.Content("~/Content/img/ai.png")" />
                        ><div class="price">FREE</div>
                        <h4>Adobe Photoshop CS6</h4>
                        <p>Графический редактор, разрабо танный и распространяемый фирмой Adobe Systems. Этот продукт является лидером...</p>
                        <a class="button red" href="#">Подробнее</a>
                    </div>
                    <div class="item">
                        <img src="@Url.Content("~/Content/img/fl.png")" />
                        ><div class="price">FREE</div>
                        <h4>Adobe Photoshop CS6</h4>
                        <p>Графический редактор, разрабо танный и распространяемый фирмой Adobe Systems. Этот продукт является лидером...</p>
                        <a class="button red" href="#">Подробнее</a>
                    </div>
                    <div class="item">
                        <img src="@Url.Content("~/Content/img/lr.png")" />
                        ><div class="price">FREE</div>
                        <h4>Adobe Photoshop CS6</h4>
                        <p>Графический редактор, разрабо танный и распространяемый фирмой Adobe Systems. Этот продукт является лидером...</p>
                        <a class="button red" href="#">Подробнее</a>
                    </div>

                </div>
                <h2 class="h-pay">Платный софт</h2>
                <div>
                    <div class="item minus20">
                        <img src="@Url.Content("~/Content/img/ps.png")" />
                        ><div class="price">от $6,67</div>
                        <h4>Adobe Photoshop CS6</h4>
                        <p>Графический редактор, разрабо танный и распространяемый фирмой Adobe Systems. Этот продукт является лидером...</p>
                        <a class="button red" href="#">Подробнее</a>
                    </div>
                    <div class="item minus10">
                        <img src="@Url.Content("~/Content/img/ai.png")" />
                        ><div class="price">от $6,67</div>
                        <h4>Adobe Photoshop CS6</h4>
                        <p>Графический редактор, разрабо танный и распространяемый фирмой Adobe Systems. Этот продукт является лидером...</p>
                        <a class="button red" href="#">Подробнее</a>
                    </div>
                    <div class="item minus30">
                        <img src="@Url.Content("~/Content/img/fl.png")" />
                        ><div class="price">от $6,67</div>
                        <h4>Adobe Photoshop CS6</h4>
                        <p>Графический редактор, разрабо танный и распространяемый фирмой Adobe Systems. Этот продукт является лидером...</p>
                        <a class="button red" href="#">Подробнее</a>
                    </div>
                    <div class="item minus20">
                        <img src="@Url.Content("~/Content/img/lr.png")" />
                        ><div class="price">от $6,67</div>
                        <h4>Adobe Photoshop CS6</h4>
                        <p>Графический редактор, разрабо танный и распространяемый фирмой Adobe Systems. Этот продукт является лидером...</p>
                        <a class="button red" href="#">Подробнее</a>
                    </div>
                    <div class="item minus20">
                        <img src="@Url.Content("~/Content/img/ps.png")" />
                        ><div class="price">от $6,67</div>
                        <h4>Adobe Photoshop CS6</h4>
                        <p>Графический редактор, разрабо танный и распространяемый фирмой Adobe Systems. Этот продукт является лидером...</p>
                        <a class="button red" href="#">Подробнее</a>
                    </div>
                    <div class="item">
                        <img src="@Url.Content("~/Content/img/ai.png")" />
                        ><div class="price">от $6,67</div>
                        <h4>Adobe Photoshop CS6</h4>
                        <p>Графический редактор, разрабо танный и распространяемый фирмой Adobe Systems. Этот продукт является лидером...</p>
                        <a class="button red" href="#">Подробнее</a>
                    </div>
                    <div class="item">
                        <img src="@Url.Content("~/Content/img/fl.png")" />
                        ><div class="price">от $6,67</div>
                        <h4>Adobe Photoshop CS6</h4>
                        <p>Графический редактор, разрабо танный и распространяемый фирмой Adobe Systems. Этот продукт является лидером...</p>
                        <a class="button red" href="#">Подробнее</a>
                    </div>
                    <div class="item minus20">
                        <img src="@Url.Content("~/Content/img/lr.png")" />
                        ><div class="price">от $6,67</div>
                        <h4>Adobe Photoshop CS6</h4>
                        <p>Графический редактор, разрабо танный и распространяемый фирмой Adobe Systems. Этот продукт является лидером...</p>
                        <a class="button red" href="#">Подробнее</a>
                    </div>

                </div>



            </div>

        </article>
        <div class="clear"></div>
    </div>


</div>




@Html.Partial("Footer")
