@{
    ViewBag.Title = "Partners";
}

@Html.Partial("Header")


<div class="wrap">

    <div id="center">

        <div class="top-wapmonster">
            <img src="@Url.Content("~/Content/img/wapmonster.png")" class="user-photo" />
            ><div class="left">
                <h2>Wapmonster</h2>
                <p>
                    <span>SMS, Mobile Content</span>
                    <span>RU</span>
                </p>
                <a href="#" class="button red want-reg">хочу зарегистрироваться</a>
            </div>
            <div class="follow right">
                <div class="item">
                    <span>1356</span><br />
                    ТОП
                </div>
                <div class="item">
                    <span>1945</span><br />
                    Участники
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <aside>
            <div class="twitter-side">
                <h2>Твиттер</h2>
                <div class="item">
                    <blockquote>Ну во первых, нужно разобраться, насколько много тебе</blockquote>
                    <span class="info left">от <a href="#">Triger</a>, 12:30</span>
                </div>
                <div class="item">
                    <blockquote>Ну во первых, нужно разобраться, насколько много тебе</blockquote>
                    <span class="info left">от <a href="#">Triger</a>, 12:30</span>
                </div>
                <div class="item">
                    <blockquote>Ну во первых, нужно разобраться, насколько много тебе</blockquote>
                    <span class="info left">от <a href="#">Triger</a>, 12:30</span>
                </div>
            </div>
        </aside>
        <article class="partnerki">
            <!-- Страница партнерки -->
            <div class="partner-main">
                <div class="tabs-wrp">
                    <div class="tabs">
                        <ul>
                            <li><a class="act" href="#about-part">О партнерке</a></li>
                            <li><a href="#participants">Участники</a></li>
                            <li><a href="#public-2">Публикации</a></li>
                            <li><a href="#rating">Рейтинг</a></li>
                        </ul>
                        <a class="reg-pass" href="#">Пройти регистрацию</a>
                    </div>
                    <div class="tabs-cont">

                        <div id="about-part" class="tab active">

                            <div class="about-part-top">
                                <p class="intro">Новая партнерская программа по конвертации мобильного траффика посредством технологии wap-click от известной системы TOPMONSTER. Новая партнерская программа по конвертации мобильного траффика.</p>
                                <p><a href="#" target="_blank">Перейти на сайт партнерской программы</a></p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><span>Тип партнерки:</span></td>
                                            <td>SMS, Mobile Content</td>
                                        </tr>
                                        <tr>
                                            <td>Принимаемый трафик:</td>
                                            <td>RU</td>
                                        </tr>
                                        <tr>
                                            <td><span>Минималка:</span></td>
                                            <td>40 руб.</td>
                                        </tr>
                                        <tr>
                                            <td>Выплаты:</td>
                                            <td>Webmoney</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="social left">
                                    <a href="#" class="vk">vk</a>
                                    <a href="#" class="tw">tw</a>
                                    <a href="#" class="fb">fb</a>
                                    <a href="#" class="gp">gp</a>
                                    <a href="#" class="ok">ok</a>
                                </div>
                                <div class="rate left">
                                    <span class="plus">25</span>
                                    <span class="minus">14</span>
                                </div>
                                <a href="#" class="forum-link right">Форум партнерки</a>
                            </div>
                            <div class="clear"></div>

                            <div class="part-benefits">
                                <h2>Преимущества</h2>
                                <h4>Основные преимущества:</h4>
                                <ul>
                                    <li>В систему принимается любой траффик;</li>
                                    <li>Высокий процент отчислений (от 75% и выше);</li>
                                    <li>Набор высоконвертируемых лендингов и их постоянное пополнение;</li>
                                    <li>Ежедневные автоматические выплаты;</li>
                                    <li>Оперативный саппорт;</li>
                                    <li>Первая в сети биржа wap-подписок;</li>
                                    <li>Реферальная программа 5%;</li>
                                    <li>Конкурсы и бонусы для активных партнеров.</li>
                                </ul>
                            </div>

                            <div class="clear"></div>
                            <div class="part-contacts">
                                <h2>Контакты</h2>
                                <div>
                                    <span class="vk"><a href="#">ivanov.vk.com</a></span>
                                    <span class="fb"><a href="#">ivanov.fb.com</a></span>
                                    <span class="gp"><a href="#">ivanov.google.com</a></span>
                                </div>
                                <div>
                                    <span class="icq"><a href="#">123456789</a></span>
                                    <span class="jabber"><a href="#">ivanov.jabber</a></span>
                                    <span class="skype"><a href="#">ivanov.skype</a></span>
                                </div>
                                <div>
                                    <span class="mail"><a href="#">ivanov@gmail.com</a></span>
                                    <span class="forum"><a href="#">Форум</a></span>
                                    <span class="web"><a href="#">ivanov.ru</a>, <a href="#">ivanov.ua</a></span>
                                </div>
                                <div class="clear"></div>
                                <a href="#" class="button red add">Добавить контакт</a>
                            </div>
                            <div class="middle">
                                <a href="#" target="_blank"><img src="@Url.Content("~/Content/img/partner-banner.png")" align="center">></a>
                            </div>
                        </div>

                        <div id="participants" class="tab">

                            <div class="item">
                                <div class="user-photo-wrp left">
                                    <img src="@Url.Content("~/Content/img/user.png")" class="user-photo" />
                                    ><div class="under-user-photo">
                                        <div class="item">
                                            <span>1</span>
                                            В партнерке
                                        </div>
                                        <div class="item">
                                            <span>142</span>
                                            В общем ТОП
                                        </div>
                                    </div>
                                </div>
                                <div class="left">
                                    <h2>Иван Иванов</h2>
                                    <span><img src="@Url.Content("~/Content/img/status.png")" class="status" />><span>Статус 1</span></span>
                                    <p class="replica">Shec ^ SMM, DOORWAY...</p>
                                    <div class="prof-buttons">
                                        <a href="#" class="button red subscr-btn">Подписать</a>
                                        <a href="#" class="button red write-btn">Написать</a>
                                        <a href="#" class="button red set-btn"></a>
                                    </div>
                                </div>
                                <div class="follow right">
                                    <div class="item">
                                        <span>1356</span><br />
                                        Followers
                                    </div>
                                    <div class="item">
                                        <span>1945</span><br />
                                        Following
                                    </div>
                                    <div class="item">
                                        <span>1232</span><br />
                                        Partner
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="item">
                                <div class="user-photo-wrp left">
                                    <img src="@Url.Content("~/Content/img/user.png")" class="user-photo" />
                                    ><div class="under-user-photo">
                                        <div class="item">
                                            <span>1</span>
                                            В партнерке
                                        </div>
                                        <div class="item">
                                            <span>142</span>
                                            В общем ТОП
                                        </div>
                                    </div>
                                </div>
                                <div class="left">
                                    <h2>Иван Иванов</h2>
                                    <span><img src="@Url.Content("~/Content/img/status.png")" class="status" />><span>Статус 1</span></span>
                                    <p class="replica">Shec ^ SMM, DOORWAY...</p>
                                    <div class="prof-buttons">
                                        <a href="#" class="button red subscr-btn">Подписать</a>
                                        <a href="#" class="button red write-btn">Написать</a>
                                        <a href="#" class="button red set-btn"></a>
                                    </div>
                                </div>
                                <div class="follow right">
                                    <div class="item">
                                        <span>1356</span><br />
                                        Followers
                                    </div>
                                    <div class="item">
                                        <span>1945</span><br />
                                        Following
                                    </div>
                                    <div class="item">
                                        <span>1232</span><br />
                                        Partner
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="item">
                                <div class="user-photo-wrp left">
                                    <img src="@Url.Content("~/Content/img/user.png")" class="user-photo" />
                                    ><div class="under-user-photo">
                                        <div class="item">
                                            <span>1</span>
                                            В партнерке
                                        </div>
                                        <div class="item">
                                            <span>142</span>
                                            В общем ТОП
                                        </div>
                                    </div>
                                </div>
                                <div class="left">
                                    <h2>Иван Иванов</h2>
                                    <span><img src="@Url.Content("~/Content/img/status.png")" class="status" />><span>Статус 1</span></span>
                                    <p class="replica">Shec ^ SMM, DOORWAY...</p>
                                    <div class="prof-buttons">
                                        <a href="#" class="button red subscr-btn">Подписать</a>
                                        <a href="#" class="button red write-btn">Написать</a>
                                        <a href="#" class="button red set-btn"></a>
                                    </div>
                                </div>
                                <div class="follow right">
                                    <div class="item">
                                        <span>1356</span><br />
                                        Followers
                                    </div>
                                    <div class="item">
                                        <span>1945</span><br />
                                        Following
                                    </div>
                                    <div class="item">
                                        <span>1232</span><br />
                                        Partner
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="item">
                                <div class="user-photo-wrp left">
                                    <img src="@Url.Content("~/Content/img/incognito.png")" class="user-photo" />
                                    ><div class="under-user-photo">
                                        <div class="item">
                                            <span>1</span>
                                            В партнерке
                                        </div>
                                        <div class="item">

                                        </div>
                                    </div>
                                </div>
                                <div class="left">
                                    <h2>Инкогнито</h2>

                                </div>

                                <div class="clear"></div>
                            </div>

                        </div>

                        <div id="public-2" class="tab">



                        </div>

                        <div id="rating" class="tab">

                            <p align="center"><img src="@Url.Content("~/Content/img/grafik.png")" />></p>
                            <h3>Лучшие вебмастера <a href="#">партнерки ReachNetwork.pro</a></h3>
                            <table class="table1 partnerki best">
                                <thead>
                                    <tr>
                                        <td>Ник</td>
                                        <td>Заработано (место в общем топе)</td>
                                        <td>Дата</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="@Url.Content("~/Content/img/nik-partner.png")" class="ava-ico" />Partner # 1></td>
                                        <td>$4353,10 (3662)</td>
                                        <td>12.04.2013</td>
                                    </tr>
                                    <tr>
                                        <td><img src="@Url.Content("~/Content/img/nik-partner.png")" class="ava-ico" />Partner # 2></td>
                                        <td>$4353,10 (3662)</td>
                                        <td>12.04.2013</td>
                                    </tr>
                                    <tr>
                                        <td><img src="@Url.Content("~/Content/img/nik-partner.png")" class="ava-ico" />Partner # 3></td>
                                        <td>$4353,10 (3662)</td>
                                        <td>12.04.2013</td>
                                    </tr>
                                    <tr>
                                        <td><img src="@Url.Content("~/Content/img/nik-partner.png")" class="ava-ico" />Partner # 1></td>
                                        <td>$4353,10 (3662)</td>
                                        <td>12.04.2013</td>
                                    </tr>
                                    <tr>
                                        <td><img src="@Url.Content("~/Content/img/nik-partner.png")" class="ava-ico" />Partner # 2></td>
                                        <td>$4353,10 (3662)</td>
                                        <td>12.04.2013</td>
                                    </tr>

                                </tbody>
                            </table>

                            <h3>Лучшие результаты <a href="#">партнерки ReachNetwork.pro</a></h3>
                            <table class="table2 partnerki best">
                                <thead>
                                    <tr>
                                        <td>Заработано (место в общем топе)</td>
                                        <td>Дата</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>$4353,10 (3662)</td>
                                        <td>12.04.2013</td>
                                    </tr>
                                    <tr>
                                        <td>$4353,10 (3662)</td>
                                        <td>12.04.2013</td>
                                    </tr>
                                    <tr>
                                        <td>$4353,10 (3662)</td>
                                        <td>12.04.2013</td>
                                    </tr>
                                    <tr>
                                        <td>$4353,10 (3662)</td>
                                        <td>12.04.2013</td>
                                    </tr>
                                    <tr>
                                        <td>$4353,10 (3662)</td>
                                        <td>12.04.2013</td>
                                    </tr>
                                    <tr>
                                        <td>$4353,10 (3662)</td>
                                        <td>12.04.2013</td>
                                    </tr>
                                    <tr>
                                        <td>$4353,10 (3662)</td>
                                        <td>12.04.2013</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>

        </article>
        <div class="clear"></div>
    </div>


</div>




@Html.Partial("Footer")
