@{
    ViewBag.Title = "Partners";
}

@Html.Partial("Header")

<div class="wrap">

    <div id="center">
        <section><h1>Обзор партнерок<a href="#" class="rss">Rss</a></section></h1> <!-- Заголовок раздела -->
        <aside class="old-as">
            <div>Фильтр</div>
            <div class="partner-side">
                <h2>Топ партнеров</h2>
                <div class="item">
                    <img src="@Url.Content("~/Content/img/news1.png")" />
                    ><p><a href="#">AffilateCube</a></p>
                </div>
                <div class="item">
                    <img src="@Url.Content("~/Content/img/news1.png")" />
                    ><p><a href="#">AffilateCube</a></p>
                </div>
                <div class="item">
                    <img src="@Url.Content("~/Content/img/news1.png")" />
                    ><p><a href="#">AffilateCube</a></p>
                </div>
                <div class="item">
                    <img src="@Url.Content("~/Content/img/news1.png")" />
                    ><p><a href="#">AffilateCube</a></p>
                </div>
                <div class="item">
                    <img src="@Url.Content("~/Content/img/news1.png")" />
                    ><p><a href="#">AffilateCube</a></p>
                </div>
            </div>
            <div class="forum-side">
                <h2>Последнее с форума</h2>
                <div class="item">
                    <h4><a href="#">Как можно увеличить свой доход?</a></h4>
                    <blockquote>Ну во первых, нужно разобраться, насколько много тебе</blockquote>
                    <span class="info right">от <a href="#">Triger</a>, 12:30</span>
                </div>
                <div class="item">
                    <h4><a href="#">Как можно увеличить свой доход?</a></h4>
                    <blockquote>Ну во первых, нужно разобраться, насколько много тебе</blockquote>
                    <span class="info right">от <a href="#">Triger</a>, 12:30</span>
                </div>
                <div class="item">
                    <h4><a href="#">Как можно увеличить свой доход?</a></h4>
                    <blockquote>Ну во первых, нужно разобраться, насколько много тебе</blockquote>
                    <span class="info right">от <a href="#">Triger</a>, 12:30</span>
                </div>
                <a class="button red" href="#">Перейти на форум</a>
            </div>
        </aside>
        <article class="partnerki-old old">
            <!-- Страница партнерки -->
            <div class="search-old margin20">
                <input class="searchbox" type="text" size="150" placeholder="Поиск: введите слово либо автора">
                <input class="submit button red searchbutton right" type="submit" value="Найти">
            </div>
            <div class="partner-main">
                <div class="item">
                    <a href="#" class="left">WapMonster</a>
                    <div class="rate left">
                        <span class="plus">14</span>
                        <span class="minus">25</span>
                    </div>
                    <div class="clear"></div>
                    <img src="@Url.Content("~/Content/img/partner1.png")" />
                    ><p>
                        <span>Тип: </span>SMS, Mobile Content<br>
                        <span>Трафик: </span>RU<br>
                        <span>Минималка: </span>40 руб.<br>
                        <span>Выплаты: </span>Webmoney<br>
                    </p>
                    <p>Новая партнерская программа по конвертации мобильного траффика...</p>
                    <a class="button red" href="#">Подробнее</a>
                </div>
                <div class="item">
                    <a href="#" class="left">WapMonster</a>
                    <div class="rate left">
                        <span class="plus">14</span>
                        <span class="minus">25</span>
                    </div>
                    <div class="clear"></div>
                    <img src="@Url.Content("~/Content/img/partner2.png")" />
                    ><p>
                        <span>Тип: </span>SMS, Mobile Content<br>
                        <span>Трафик: </span>RU<br>
                        <span>Минималка: </span>40 руб.<br>
                        <span>Выплаты: </span>Webmoney<br>
                    </p>
                    <p>Новая партнерская программа по конвертации мобильного траффика...</p>
                    <a class="button red" href="#">Подробнее</a>
                </div>
                <div class="item">
                    <a href="#" class="left">WapMonster</a>
                    <div class="rate left">
                        <span class="plus">14</span>
                        <span class="minus">25</span>
                    </div>
                    <div class="clear"></div>
                    <img src="@Url.Content("~/Content/img/partner3.png")" />
                    ><p>
                        <span>Тип: </span>SMS, Mobile Content<br>
                        <span>Трафик: </span>RU<br>
                        <span>Минималка: </span>40 руб.<br>
                        <span>Выплаты: </span>Webmoney<br>
                    </p>
                    <p>Новая партнерская программа по конвертации мобильного траффика...</p>
                    <a class="button red" href="#">Подробнее</a>
                </div>
                <div class="item">
                    <a href="#" class="left">WapMonster</a>
                    <div class="rate left">
                        <span class="plus">14</span>
                        <span class="minus">25</span>
                    </div>
                    <div class="clear"></div>
                    <img src="@Url.Content("~/Content/img/partner1.png")" />
                    ><p>
                        <span>Тип: </span>SMS, Mobile Content<br>
                        <span>Трафик: </span>RU<br>
                        <span>Минималка: </span>40 руб.<br>
                        <span>Выплаты: </span>Webmoney<br>
                    </p>
                    <p>Новая партнерская программа по конвертации мобильного траффика...</p>
                    <a class="button red" href="#">Подробнее</a>
                </div>
                <div class="item">
                    <a href="#" class="left">WapMonster</a>
                    <div class="rate left">
                        <span class="plus">14</span>
                        <span class="minus">25</span>
                    </div>
                    <div class="clear"></div>
                    <img src="@Url.Content("~/Content/img/partner2.png")" />
                    ><p>
                        <span>Тип: </span>SMS, Mobile Content<br>
                        <span>Трафик: </span>RU<br>
                        <span>Минималка: </span>40 руб.<br>
                        <span>Выплаты: </span>Webmoney<br>
                    </p>
                    <p>Новая партнерская программа по конвертации мобильного траффика...</p>
                    <a class="button red" href="#">Подробнее</a>
                </div>
                <div class="item">
                    <a href="#" class="left">WapMonster</a>
                    <div class="rate left">
                        <span class="plus">14</span>
                        <span class="minus">25</span>
                    </div>
                    <div class="clear"></div>
                    <img src="@Url.Content("~/Content/img/partner3.png")" />
                    ><p>
                        <span>Тип: </span>SMS, Mobile Content<br>
                        <span>Трафик: </span>RU<br>
                        <span>Минималка: </span>40 руб.<br>
                        <span>Выплаты: </span>Webmoney<br>
                    </p>
                    <p>Новая партнерская программа по конвертации мобильного траффика...</p>
                    <a class="button red" href="#">Подробнее</a>
                </div>
                <div class="item">
                    <a href="#" class="left">WapMonster</a>
                    <div class="rate left">
                        <span class="plus">14</span>
                        <span class="minus">25</span>
                    </div>
                    <div class="clear"></div>
                    <img src="@Url.Content("~/Content/img/partner1.png")" />
                    ><p>
                        <span>Тип: </span>SMS, Mobile Content<br>
                        <span>Трафик: </span>RU<br>
                        <span>Минималка: </span>40 руб.<br>
                        <span>Выплаты: </span>Webmoney<br>
                    </p>
                    <p>Новая партнерская программа по конвертации мобильного траффика...</p>
                    <a class="button red" href="#">Подробнее</a>
                </div>
                <div class="item">
                    <a href="#" class="left">WapMonster</a>
                    <div class="rate left">
                        <span class="plus">14</span>
                        <span class="minus">25</span>
                    </div>
                    <div class="clear"></div>
                    <img src="@Url.Content("~/Content/img/partner2.png")" />
                    ><p>
                        <span>Тип: </span>SMS, Mobile Content<br>
                        <span>Трафик: </span>RU<br>
                        <span>Минималка: </span>40 руб.<br>
                        <span>Выплаты: </span>Webmoney<br>
                    </p>
                    <p>Новая партнерская программа по конвертации мобильного траффика...</p>
                    <a class="button red" href="#">Подробнее</a>
                </div>
                <div class="item">
                    <a href="#" class="left">WapMonster</a>
                    <div class="rate left">
                        <span class="plus">14</span>
                        <span class="minus">25</span>
                    </div>
                    <div class="clear"></div>
                    <img src="@Url.Content("~/Content/img/partner3.png")" />
                    ><p>
                        <span>Тип: </span>SMS, Mobile Content<br>
                        <span>Трафик: </span>RU<br>
                        <span>Минималка: </span>40 руб.<br>
                        <span>Выплаты: </span>Webmoney<br>
                    </p>
                    <p>Новая партнерская программа по конвертации мобильного траффика...</p>
                    <a class="button red" href="#">Подробнее</a>
                </div>
                <div class="item">
                    <a href="#" class="left">WapMonster</a>
                    <div class="rate left">
                        <span class="plus">14</span>
                        <span class="minus">25</span>
                    </div>
                    <div class="clear"></div>
                    <img src="@Url.Content("~/Content/img/partner1.png")" />
                    ><p>
                        <span>Тип: </span>SMS, Mobile Content<br>
                        <span>Трафик: </span>RU<br>
                        <span>Минималка: </span>40 руб.<br>
                        <span>Выплаты: </span>Webmoney<br>
                    </p>
                    <p>Новая партнерская программа по конвертации мобильного траффика...</p>
                    <a class="button red" href="#">Подробнее</a>
                </div>
                <div class="item">
                    <a href="#" class="left">WapMonster</a>
                    <div class="rate left">
                        <span class="plus">14</span>
                        <span class="minus">25</span>
                    </div>
                    <div class="clear"></div>
                    <img src="@Url.Content("~/Content/img/partner2.png")" />
                    ><p>
                        <span>Тип: </span>SMS, Mobile Content<br>
                        <span>Трафик: </span>RU<br>
                        <span>Минималка: </span>40 руб.<br>
                        <span>Выплаты: </span>Webmoney<br>
                    </p>
                    <p>Новая партнерская программа по конвертации мобильного траффика...</p>
                    <a class="button red" href="#">Подробнее</a>
                </div>
                <div class="item">
                    <a href="#" class="left">WapMonster</a>
                    <div class="rate left">
                        <span class="plus">14</span>
                        <span class="minus">25</span>
                    </div>
                    <div class="clear"></div>
                    <img src="@Url.Content("~/Content/img/partner3.png")" />
                    ><p>
                        <span>Тип: </span>SMS, Mobile Content<br>
                        <span>Трафик: </span>RU<br>
                        <span>Минималка: </span>40 руб.<br>
                        <span>Выплаты: </span>Webmoney<br>
                    </p>
                    <p>Новая партнерская программа по конвертации мобильного траффика...</p>
                    <a class="button red" href="#">Подробнее</a>
                </div>


            </div>

        </article>
        <div class="clear"></div>
    </div>


</div>




@Html.Partial("Footer")
